.soporte {
    background-color: hsl(180, 8%, 83%);
}
.nosotros5 {
    display: flex;
    flex-direction: column;
   
    margin-bottom: 5%;
}


.description-boxS {
    padding:1rem;
    width: auto;
    text-align: justify;
    color: #1B4965;
}

.team-title {
    text-align: center;
    color: #000000;
    margin-bottom: 1%;
}

.serviciosIcono {
    background-color: #b5bbbe57;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1B4965;
    display: flex;
    justify-content: space-between;
   
    position: relative;

}

.team-containerDesc {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las imágenes */
    width: 100%; /* Asegura que el ancho sea del 100% de la ventana */
    position: relative; /* Para evitar el desbordamiento */
    left: 50%; /* Centra el contenedor */
    transform: translateX(-50%); /* Ajusta para centrar */
    box-sizing: border-box; /* Incluye padding y border en el ancho */
    padding: 0 5rem; /* Mantiene el espacio interno deseado */

}

.service {
    flex: 1 1 1; /* Permite que las imágenes crezcan y se reduzcan, y establece un ancho base */
    display: flex;
    justify-content: space-between;

}

.img {
    width: 14rem; /* Imágenes ocupan el 100% del ancho del contenedor */    
    border-radius: 50%;
    height: 14rem;
    margin-left:3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
   
    
}
.grid-section {
    display: grid;
    grid-template-columns: 40% 60%; /* Define columnas para pantallas grandes */
    gap: 20px; /* Espacio entre columnas */
    margin: 20px; /* Margen general */
    display: flex;
    flex-direction: column;
   
}

.grid-item {
    display: flex;
    flex-direction: row; /* Alineación en fila para pantallas grandes */
    margin-bottom: 5%;
}

.image-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
   
}

.image-container img {
    width: 13rem; /* Ajusta el tamaño de la imagen */
    height: 13rem;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Asegura que la imagen mantenga su forma redonda */
    margin-left:10rem;
   
   
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
    margin-left: 15rem;
}


@media (max-width: 768px) {
    .service img {
        width: 5rem; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
        height: 5rem;
        margin-top: 1rem;
        margin-left:2rem;
        margin-right: 2rem;
    }

    .nosotros5{
        margin-left:5rem;
        margin-right:5rem; 
    }

    .serviciosIcono {
    position: absolute;
    margin-top: 28rem;
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;

    
    }

.grid-section {
    grid-template-columns: 4fr; /* Cambia a una sola columna en pantallas pequeñas */
    margin-top: 35rem;
    width: 100%;
    margin-left: 0rem;
    
}

.grid-item {
    flex-direction: column; /* Alinea imagen y texto en columna */
    align-items: center; /* Centra todo el contenido */
    
}

.image-container img  {
    margin-left:0rem;
}

.text-container {
   text-align: justify;
   margin-left: 0rem;
   padding: 2rem;
}
.description-boxS{
    position: absolute;
    margin-top: 5rem;
}
.team-containerDesc{
    padding:0;
    border: black 2px;
} 
}